.h1{
    background-color: aqua;
    font-size: 20px;
}
.h2{
    background-color: bisque;
    font-size: 20px;
}
.h3{
    background-color: aqua;
    font-size: 20px;
}
.h4{
    background-color: bisque;
    font-size: 20px;
}
.h5{
    background-color: bisque;
    font-size: 20px;
}
.h6{
    background-color: bisque;
    font-size: 20px;
}
.img1{
    background-color: aqua;
    
}
.img2{
    background-color: aqua;
   
}
.img3{
    background-color:aqua;
}
.need1{
    background-color: bisque;
}
.need2{
    background-color: aqua;
}
.need3{
background-color: bisque;
}
.need4{
    background-color: bisque;
}
.tea{
    background-color: purple;
}
.sugar{
    background-color:burlywood;

}
.veg{
background-color: purple;
}
.veg1{
    background-color:burlywood
}
.nonveg{
    background-color: purple;
}
.nonveg1{
    background-color: bisque;
}




